
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row bd-highlight mb-3 mt-5">
        <div class="p-2 bd-highlight show-title"><h1><%= @cocktail.name.capitalize %></h1></div>
        <div class="p-2 bd-highlight"><%= link_to new_cocktail_dose_path(@cocktail) do %>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to new_cocktail_review_path(@cocktail) do %>
          <i class="fas fa-heart"></i>
          <% end %>
          <%= link_to "Delete", cocktail_path(@cocktail),
          method: :delete,
          data: { confirm: "Are you sure?" }  %></div>
      </div>
      <div class="p-2 bd-highlight"><h4>To make a delicious <%= @cocktail.name.capitalize %> </br>you will need -></h4></div>
      <div class="p-2 bd-highlight">
        <% @cocktail.doses.each do |dose| %>
        <p><span id="dose"> <%= dose.description.capitalize %></span> of <%= dose.ingredient.name.capitalize %></p>
        <% end %>
      </div>
        <div class="p-2 bd-highlight">
          <h4>Reviews:</h4>
        <% @cocktail.reviews.each do |review| %>
        <p><%= review.content %> </p>
        <% end %>
      </div>

    </div>
    <div class="col">
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>

</div>


