<div class="container mt-5">
  <div class="row d-flex align-items-center justify-content-center mt-5">
    <h2 class="text-center">Add and ingredient and a dose to <%= @cocktail.name %> </h2>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, as: :select %>
      <%= f.submit "Add ingredient", class: "btn btn-yellow" %>
      <%= link_to "I'm done!", cocktails_path, class:"btn btn-yellow" %>
      <% end %>
  </div>
</div>
